.vscode/*
vendor/*
webroot/*
.env
.vscode/settings.json
default_data/*
vendor/*
webroot/*
.env
.vscode/settings.json
default_data/*
vendor/*
.phpunit.cache/*
logs/*
tmp/*
project_files_backups/*
config/.*
config/app_local.php
.gitignore
dump.rdb
.DS_Store